@{
    ViewData["Title"] = "Index";
}

<h2 style="text-align: center">Welcome To Education Admin</h2>

@*<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Position</th>
            <th scope="col">Age</th>
            <th scope="col">Start Date</th>
            <th scope="col">operations</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">1</th>
            <td>Brandon Jacob</td>
            <td>Designer</td>
            <td>28</td>
            <td>2016-05-25</td>
            <td>
                <a asp-action="Edit" asp-route-id=""><i style="color:forestgreen;font-size:20px" class=" ri- bxs-edit"></i></a> |
                <a class="btnDelete" href="#" data-toggle="modal" data-target="#exampleModal" data-paths=""><i style="color:red;font-size:20px" class=" ri-close-circle-line"> </i></a>|
                <a class="btnDelete" href="#" data-toggle="modal" data-target="#exampleModal" data-paths=""><i style="color:blue;font-size:20px" class=" ri-eye-fill"> </i></a>
            </td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td>Bridie Kessler</td>
            <td>Developer</td>
            <td>35</td>
            <td>2014-12-05</td>
            <td>
                <a asp-action="Edit" asp-route-id=""><i style="color:forestgreen;font-size:20px" class=" bi bi-pencil-square"></i></a> |
                <a class="btnDelete" href="#" data-toggle="modal" data-target="#exampleModal" data-paths=""><i style="color:red;font-size:20px" class="bi bi-trash2-fill"> </i></a>|
                <a class="btnDelete" href="#" data-toggle="modal" data-target="#exampleModal" data-paths=""><i style="color:blue;font-size:20px" class=" ri-eye-fill"> </i></a>
            </td>
        </tr>
        <tr>
            <th scope="row">3</th>
            <td>Ashleigh Langosh</td>
            <td>Finance</td>
            <td>45</td>
            <td>2011-08-12</td>
            <td>
                <a asp-action="Edit" asp-route-id=""><i style="color:forestgreen;font-size:20px" class=" bi bi-pencil-square"></i></a> |
                <a class="btnDelete" href="#" data-toggle="modal" data-target="#exampleModal" data-paths=""><i style="color:red;font-size:20px" class="bi bi-trash-fill"> </i></a>|
                <a class="btnDelete" href="#" data-toggle="modal" data-target="#exampleModal" data-paths=""><i style="color:blue;font-size:20px" class=" ri-eye-fill"> </i></a>
            </td>
        </tr>
        <tr>
            <th scope="row">4</th>
            <td>Angus Grady</td>
            <td>HR</td>
            <td>34</td>
            <td>2012-06-11</td>
            <td>
                <a asp-action="Edit" asp-route-id=""><i style="color:forestgreen;font-size:20px" class=" bi bi-pencil-square"></i></a> |
                <a class="btnDelete" href="#" data-toggle="modal" data-target="#exampleModal" data-paths=""><i style="color:red;font-size:20px" class="bi bi-x-square"> </i></a>|
                <a class="btnDelete" href="#" data-toggle="modal" data-target="#exampleModal" data-paths=""><i style="color:blue;font-size:20px" class=" ri-eye-fill"> </i></a>
            </td>
        </tr>
        <tr>
            <th scope="row">5</th>
            <td>Raheem Lehner</td>
            <td>Dynamic Division Officer</td>
            <td>47</td>
            <td>2011-04-19</td>
        </tr>
        <tr>
            <th scope="row">6</th>
            <td>Raheem Lehner</td>
            <td>Dynamic Division Officer</td>
            <td>47</td>
            <td>2011-04-19</td>
        </tr>
    </tbody>
</table>*@